body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    min-height: 90vh;
}

input[type="checkbox"] {
    accent-color: #646464;
    color: #646464;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #646464;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

input[type="checkbox"]:checked {
    background-color: #646464;
    border-color: #646464;
}

input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    left: 2px;
    top: -2px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

button{
    color: #FFFFFF;
    background-color: #646464;
    border: none;
    border-radius: 15px;
    font-size: large;
    font-weight: 600;
    padding: 7px 20px;
    margin: 10px 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover{
    background-color: #4f4f4f;
}

button:active{
    color: #f2f2f2;
    background-color: #3f3f3f; 
}

hr{
    width: 90%;
    background-color: #646464;
    height: 2px;
    border: none;
}

label {
    font-weight: 500;
    margin-left: 8px;
}

/* Style for checkbox-label container divs */
.checkbox-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
}

.first-checkbox{
    margin-top: 10px;
}

.checkbox-container-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 5px 0;
}

.left, .center, .right {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-radius: 20px;
    background-color: #313131;
    margin: 10px 10px
}

.left {
    padding-top: 10px;
    justify-content: start;

}

.center {
    min-width: 522px;
    min-height: 522px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BABABA;
}

.control-panel {
    margin-left: 10px;
    margin-right: 10px;
}

.prompt {
    min-width: 230px;
    resize: none;
}

.seed-number {
    max-width: 185px;
    text-align: center;
}

.frame-select{
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    max-width: 70px;
    margin-top: 15px;
    text-align: center;
}

/* Hide spinner arrows for number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.frame-heading{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: small;
    margin-top: 2px;
}

.left, .right {
    min-width: 270px;
    min-height: 512px;
}

.right {
    padding-bottom: 10px;
}

input[type="number"], textarea{
    border-radius: 15px;
    font-size: large;
    border: none;
    box-shadow: inset 2px 2px 10px 1px #252525;
    background-color: #646464;
    color: #FFFFFF;
    padding: 5px 10px;
}

.seed-heading{
    margin-bottom: 0px;
    font-size: medium;
}

.frame-divider {
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.right-button{
    min-width: 250px;
}

.video-import{
    min-width: 250px;
}

.metadata{
    font-weight: 500;
    margin: 3px 10px;
    font-size: small;
}

.refresh-arrow{
    filter: invert(1) brightness(1) saturate(100%);
    max-width: 25px;
}

.refresh-button{
    background-color: inherit;
    padding: 0px 0px;
    
}

.seed-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: transform 10s ease-in-out;
}

.refresh-button:hover{
    background-color: inherit;
    transform: scale(115%);
}

.prompt-heading{
    margin-bottom: 3px;
}

@media screen and (max-width: 1024px) {
    body{
        flex-direction: column;
    }

    .center{
        min-width: 90vw;
    }

    .left, .right, .center{
        width: 90vw;
    }

    .mobile-button{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
    }

    .right{
        align-items: center;
    }

}


/* Progress text styling */
#timeRemaining, #framesRemaining, #progressPercentage, 
#currentFrame, #totalFramesToProcess {
    font-weight: bold;
    color: #ffffff;
}

.aiGeneratedImage {
    max-height: 500px;
    width:  auto;
    align-items: center;
    justify-content: center;
}