<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>AI Filter</title>
</head>
<body>
    <div class="left">
        <div class="checkbox-container first-checkbox">
            <input type="checkbox" id="clearFrameCache" name="clearFrameCache">
            <label for="clearFrameCache">Clear frame cache</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="halveVideoFps" name="halveVideoFps">
            <label for="halveVideoFps">Halve video FPS</label>
        </div>        

        <button class="video-import" id="importVideoFile">Import video from file</button>

        <hr>

        <p class="metadata">Total frames:</p>
        <p class="metadata">Source framerate</p>
        <p class="metadata">Final framerate:</p>
        <p class="metadata">Source resolution:</p>
        <p class="metadata">Final resolution:</p>

        <hr>

        <p class="metadata">Time remaining:</p>
        <p class="metadata">Frames remaining:</p>
    </div>
    <div class="center">
        <h1>AI Generated Frame</h1>
    </div>
    <div class="right">
        <div class="control-panel">
            <h2>Prompt:</h2>
            <textarea class="prompt" name="prompt" rows="5", required ></textarea>
    
            <h3 class="seed-heading">Seed value:</h3>
            <input class="seed-number" type="number">
            <div class="frame-select">
                <div>
                    <input class="frame" type="number">
                    <h3 class="frame-heading">Start frame</h3>
                </div>
                <hr class="frame-divider">
                <div>
                    <input class="frame" type="number">
                    <h3 class="frame-heading">End frame</h3>
                </div>
            </div>
        </div>

        <div class="checkbox-container-right">
            <input type="checkbox" id="turbo" name="turbo">
            <label for="turbo">Turbo</label>
        </div>
        <button class="right-button">Render Frames</button>
        <hr>
        <div class="checkbox-container-right">
            <input type="checkbox" id="includeSourceAudio" name="includeSourceAudio">
            <label for="includeSourceAudio">Include source audio</label>
        </div>
        <button class="right-button">Compile Frames</button>
    </div>
</body>
</html>