<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>AI Filter</title>
</head>
<body>
    <div class="left">
        <div class="checkbox-container first-checkbox">
            <input type="checkbox" id="clearFrameCache" name="clearFrameCache">
            <label for="clearFrameCache">Clear frame cache</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" id="halveVideoFps" name="halveVideoFps">
            <label for="halveVideoFps">Halve video FPS</label>
        </div>        

        <div class="mobile-button">
            <button class="video-import" id="importVideoFile">Import video from file</button>
            <input type="file" id="videoFileInput" accept="video/*" style="display: none;">
        </div>

        <hr>

        <p class="metadata" id="sourceName">Source name:</p>
        <p class="metadata" id="totalFrames">Total frames:</p>
        <p class="metadata" id="finalFramerate">Final framerate:</p>
        <p class="metadata" id="sourceResolution">Source resolution:</p>
        <p class="metadata" id="finalResolution">Final resolution:</p>

        <hr>

        <p class="metadata">Time remaining:</p>
        <p class="metadata">Frames remaining:</p>
    </div>
    <div class="center">
        <h1>AI Generated Frame</h1>
    </div>
    <div class="right">
        <div class="control-panel">
            <h2 class="prompt-heading">Prompt:</h2>
            <textarea class="prompt" name="prompt" rows="5", required ></textarea>
    
            <h3 class="seed-heading">Seed value:</h3>
            <div class="seed-container">
                <input class="seed-number" type="number">
                <button class="refresh-button"><img class="refresh-arrow" src="{{ url_for('static', filename='refreshArrow.png') }}"></button>
            </div>
            <div class="frame-select">
                <div>
                    <input class="frame" type="number" id="startFrame">
                    <h3 class="frame-heading">Start frame</h3>
                </div>
                <hr class="frame-divider">
                <div>
                    <input class="frame" type="number" id="endFrame">
                    <h3 class="frame-heading">End frame</h3>
                </div>
            </div>
        </div>

        <div class="checkbox-container-right">
            <input type="checkbox" id="turbo" name="turbo">
            <label for="turbo">Turbo</label>
        </div>
        <button class="right-button">Render Frames</button>
        <hr>
        <div class="checkbox-container-right">
            <input type="checkbox" id="includeSourceAudio" name="includeSourceAudio">
            <label for="includeSourceAudio">Include source audio</label>
        </div>
        <button class="right-button">Compile Frames</button>
    </div>

<script>
    document.getElementById('importVideoFile').addEventListener('click', function() {
        document.getElementById('videoFileInput').click();
    });

    document.getElementById('videoFileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if(!file) return;

        const formData = new FormData();
        formData.append('video', file);

        const clearFrameCache = document.getElementById('clearFrameCache').checked;
        formData.append('clearFrameCache', clearFrameCache ? 'on':'off');

        const halveFps = document.getElementById('halveVideoFps').checked;
        formData.append('halveFps', halveFps ? 'on':'off');

        const uploadButton = document.getElementById('importVideoFile');
        uploadButton.textContent = 'Importing...'
        fetch('/upload_video', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            uploadButton.textContent = 'Video imported';
            document.getElementById('sourceName').textContent = 'Source name: ' + data.filename;
            document.getElementById('totalFrames').textContent = 'Total frames: ' + data.frames;
            document.getElementById('finalFramerate').textContent = 'Final framerate: ' + data.framerate + ' fps'
            document.getElementById('sourceResolution').textContent = 'Source resolution: ' + data.base_resolution_x + ' x ' + data.base_resolution_y;
            document.getElementById('finalResolution').textContent = 'Final resolution: ' + data.final_resolution_x + ' x ' + data.final_resolution_y;
            document.getElementById('startFrame').value = 1;
            document.getElementById('endFrame').value = data.frames;
            document.getElementById('endFrame').max = data.frames;
        })
        .catch(error => {
            uploadButton.textContent = 'Import error'
        })
        .finally(() => {
                // Clear the file input value so the same file can be selected again
                event.target.value = '';
                
                const timeoutId = setTimeout(() => {
                    uploadButton.textContent = 'Import video from file';
                }, 2000);
            });
    })
</script>
</body>
</html>